*{margin: 0; padding: 0; box-sizing: border-box; background-color: }
header{background-color:beige; display: flex; height: 200px;width: 100%;}
.imgCont {width: 100%;display: flex;}
.info{width: 400%; display: flex; justify-content: space-around; align-items: center; flex-direction: column;}
section{display: flex; justify-content: space space-around;}
.habilidades{width: 33%; height: 800px; display: flex; flex-direction: column; margin-top: 1%; margin-bottom: 1%; background-color: beige;}
.contacto{width: 43%; background-color:beige; margin-top:1%;display: flex; flex-direction: column;align-items: center; height: 825px;}
.exp{width: 33%; background-color:bisque; margin-top: 1%; display: flex; align-items: center; justify-content: space-around; flex-direction: column; height: 800px; }
.dato{width: 120px;height: 50px; margin-top: 20px; background-color: beige;display: flex;flex-direction: column; box-sizing: border-box;}
.descripcion{width: 70%; background-color:bisque; margin-top: 1%; display: flex; align-items: center; justify-content: space-around; flex-direction: column; height: 100px; }
p{font-size: 20px;}
footer{display: flex; background-color:beige;height: 200px;}
.footer-left{width: 80%;}
h3{color: burlywood;}

.dato1{width: 120px;height: 50px; margin-top: 20px; background-color: beige;display: flex;flex-direction: column; box-sizing: border-box;}

